DISTS = путь к протяженностям
CAPACITIES = путь к вместимости
COEFS = путь к коэффициентам
ROUTE_DISTR = путь к распределению колонн по нарядам

path_to_data = путь к данным за месяц

path_to_save = куда сохранить результат